.story {
  padding: 1em 0;
}

.story__title {
  font-size: 1em;
}

.story__info {
  margin-top: 0.4em;
  font-size: 0.7em;
}

.story__info a {
  font-size: 1em;
  text-decoration: underline;
  cursor: pointer;
}
