@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import 'styles/scanline.scss';
@import 'styles/noise.scss';
@import 'styles/story.scss';


$dark-green: rgb(18, 27, 20);
$bright-green: rgb(120, 205, 110);
$pad-sm: 0.3em 0.4em;

:root {
  --scanlineY: 0;
  font-size: 14px;
}

body {
  --screen-top: 0px;
  --screen-bottom: 100vh;
  background-color: $dark-green;
  font-family: 'Share Tech Mono', monospace;
  color: $bright-green;
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  word-break: break-word !important;

  background-image: 
    linear-gradient(transparent 50%, rgba(10, 15, 8, 0.06) 50%);
  background-size: 1px 7px;

}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
 

a {
  color: $bright-green;
}

button {
  padding: $pad-sm;

  text-shadow: inherit;
  color: $bright-green;

  background: none;
  border: none;

  cursor: pointer;

  // border: 1px solid rgba($bright-green, 0.5);
  // background-color: rgba($bright-green, 0.15);
  mix-blend-mode: screen;
}

button:active,
button:focus, {
  border: none;
  outline: none;
}

.header {
  margin-top: 2em;
  margin-bottom: 1em;
}

.header h1 {
  display: inline;
  font-size: 2.5em;
}

.header div {
  display: inline;
  margin-left: 1em;
}

.thread__title {
  font-size: 1.8em;
}

.thread {
  padding-top: 2em;
}

.comment {
  padding-left: 1em;
  margin-top: 2em;
  border-left: 2px dashed rgba($bright-green, 0.1);
  line-height: 1.6;
}

.loading_spinner {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}
